n8n_workflow.json
{
  "name": "BarrientosINK - Nueva Consulta",
  "nodes": [
    {
      "parameters": {
        "event": "insert",
        "schema": "public",
        "table": "consultations"
      },
      "id": "1",
      "name": "Supabase Trigger",
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Mensaje",
              "value": "=🚨 Nueva Consulta: {{$json.new.name}} | Zona 3D: {{$json.new.body_part}} | Estilo: {{$json.new.style}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "content": "={{ $json.Mensaje }}"
      },
      "id": "3",
      "name": "Log Execution",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Supabase Trigger": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Log Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
